{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}

{% extends _entity_config.templates.layout %}

{% set _request_parameters = app.request.query.all|merge(_request_parameters|default({}))|merge({
    action: app.request.get('action'),
    filter_conditions: app.request.get('filter_conditions'),
    entity: _entity_config.name,
    menuIndex: app.request.get('menuIndex'),
    submenuIndex: app.request.get('submenuIndex'),
    sortField: app.request.get('sortField', ''),
    sortDirection: app.request.get('sortDirection', 'DESC'),
    page: app.request.get('page', 1),
    referer: null
}) %}

{% if 'search' == app.request.get('action') %}
    {% set _request_parameters = _request_parameters|merge({
        query: app.request.get('query')|default(''),
        sortField: _entity_config.search.sort.field|default(app.request.get('sortField', '')),
        sortDirection: _entity_config.search.sort.direction|default(app.request.get('sortDirection', 'DESC')),
    }) %}
{% endif %}

{% set _request_parameters = _request_parameters|merge({ referer: path('easyadmin', _request_parameters)|url_encode }) %}

{% block body_id 'easyadmin-list-' ~ _entity_config.name %}
    {% block body_class 'list list-' ~ _entity_config.name|lower %}

        {% block content_title %}
            {% spaceless %}
                {% if 'search' == app.request.get('action') %}
                    {% set _default_title = 'search.page_title'|transchoice(paginator.nbResults, {}, 'EasyAdminBundle') %}
                    {{ (_entity_config.search.title is defined ? _entity_config.search.title|transchoice(paginator.nbResults) : _default_title)|raw }}
                {% else %}
                    {% set _default_title = 'list.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
                    {{ (_entity_config.list.title is defined ? _entity_config.list.title|trans(_trans_parameters) : _default_title)|raw }}
                {% endif %}
            {% endspaceless %}
        {% endblock %}

        {% block content_header %}
            <div class="row">
                <div class="col-sm-2">
                    {% block content_title_wrapper %}
                        <h1 class="title">{{ block('content_title') }}</h1>
                    {% endblock %}
                </div>

                <div class="col-sm-10">
                    <div class="global-actions">
                        {% block global_actions %}
                            {% if easyadmin_action_is_enabled_for_list_view('search', _entity_config.name) %}
                                {% set _action = easyadmin_get_action_for_list_view('search', _entity_config.name) %}

                                {% block search_action %}
                                    <div class="form-action {{ _action.css_class|default('') }}">

                                        <form method="get" action="{{ path('easyadmin') }}">
                                            {% block search_form %}


                                                <input type="hidden" name="action" value="search">
                                                <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
                                                <input type="hidden" name="sortField" value="{{ _entity_config.search.sort.field|default(_request_parameters.sortField) }}">
                                                <input type="hidden" name="sortDirection" value="{{ _entity_config.search.sort.direction|default(_request_parameters.sortDirection) }}">
                                                <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
                                                <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
                                                <div class="input-group">
                                                    <div class="row">    
                                                        <div class="col-lg-4">
                                                            Search in column:
                                                            {% for field, metadata in fields %}
                                                                <label>{{field}}
                                                                <input {%if _request_parameters.filter_conditions is empty  or field  in _request_parameters.filter_conditions %}checked="checked"{% endif%} name="filter_conditions[]" type="checkbox" value="{{field}}" /></label>&nbsp;&nbsp;
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <input style="width:70%;" class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}">
                                                            <span class="input-group-btn">
                                                                <button class="btn" type="submit" formtarget="{{ _action.target }}">
                                                                    <i class="fa fa-search"></i>
                                                                    <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endblock %}
                                        </form>
                                    </div>
                                {% endblock search_action %}
                            {% endif %}

                            {% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
                                {% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
                                {% block new_action %}
                                    <div class="button-action">
                                        <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
                                            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                                            {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
                                        </a>
                                    </div>
                                {% endblock new_action %}
                            {% endif %}
                        {% endblock global_actions %}
                    </div>
                </div>
            </div>
        {% endblock content_header %}

        {% block main %}
            {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        {% block table_head %}
                            <tr>
                                {% for field, metadata in fields %}
                                    {% set isSortingField = metadata.property == app.request.get('sortField')|split('.')|first %}
                                    {% set nextSortDirection = isSortingField ? (app.request.get('sortDirection') == 'DESC' ? 'ASC' : 'DESC') : 'DESC' %}
                                    {% set _column_label = (metadata.label ?: field|humanize)|trans(_trans_parameters) %}
                                    {% set _column_icon = isSortingField ? (nextSortDirection == 'DESC' ? 'fa-caret-up' : 'fa-caret-down') : 'fa-sort' %}

                                    <th data-property-name="{{ metadata.property }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.virtual ? 'virtual' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}" {{ easyadmin_config('design.rtl') ? 'dir="rtl"' }}>
                                        {% if metadata.sortable %}
                                            <a href="{{ path('easyadmin', _request_parameters|merge({ page: 1, sortField: metadata.property, sortDirection: nextSortDirection })) }}">
                                                <i class="fa {{ _column_icon }}"></i>
                                                {{ _column_label|raw }}
                                            </a>
                                        {% else %}
                                            <span>{{ _column_label|raw }}</span>
                                        {% endif %}
                                    </th>
                                {% endfor %}

                                {% if _list_item_actions|length > 0 %}
                                    <th  {{ easyadmin_config('design.rtl') ? 'dir="rtl"' }}>
                                        <span>{{ 'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') }}</span>
                                    </th>
                                {% endif %}
                            </tr>
                        {% endblock table_head %}
                    </thead>

                    <tbody>
                        {% block table_body %}
                            {% for item in paginator.currentPageResults %}
                                {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
                                {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
                                <tr data-id="{{ _item_id }}">
                                    {% for field, metadata in fields %}
                                        {% set isSortingField = metadata.property == app.request.get('sortField') %}
                                        {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                                        <td data-label="{{ _column_label }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}" {{ easyadmin_config('design.rtl') ? 'dir="rtl"' }}>
                                            {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                                        </td>
                                    {% endfor %}

                                    {% if _list_item_actions|length > 0 %}
                                        {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                                        <td data-label="{{ _column_label }}" class="actions">
                                            {% block item_actions %}
                                                {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                                actions: _list_item_actions,
                                request_parameters: _request_parameters,
                                translation_domain: _entity_config.translation_domain,
                                trans_parameters: _trans_parameters,
                                item_id: _item_id
                            }, with_context = false) }}
                                            {% endblock item_actions %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                                        {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock table_body %}
                    </tbody>
                </table>
            </div>

            {% block paginator %}
                {{ include(_entity_config.templates.paginator) }}
            {% endblock paginator %}

            {% block delete_form %}
                {% set referer = paginator.currentPage == paginator.nbPages and 1 != paginator.currentPage and 1 == paginator.currentPageResults|length
            ? path('easyadmin', app.request.query|merge({ page: app.request.query.get('page') - 1 }))
            : app.request.requestUri
                %}

                {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'list',
            referer: referer|url_encode,
            delete_form: delete_form_template,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
            {% endblock delete_form %}
        {% endblock main %}

        {% block body_javascript %}
            {{ parent() }}

            <script type="text/javascript">
                $(function () {
                    $('#main').find('table .toggle input[type="checkbox"]').change(function () {
                        var toggle = $(this);
                        var newValue = toggle.prop('checked');
                        var oldValue = !newValue;

                        var columnIndex = $(this).closest('td').index() + 1;
                        var propertyName = $('table th.toggle:nth-child(' + columnIndex + ')').data('property-name');

                        var toggleUrl = "{{ path('easyadmin', { action: 'edit', entity: _entity_config.name, view: 'list' })|raw }}"
                                + "&id=" + $(this).closest('tr').data('id')
                                + "&property=" + propertyName
                                + "&newValue=" + newValue.toString();

                        var toggleRequest = $.ajax({type: "GET", url: toggleUrl, data: {}});

                        toggleRequest.done(function (result) {});

                        toggleRequest.fail(function () {
                            // in case of error, restore the original value and disable the toggle
                            toggle.bootstrapToggle(oldValue == true ? 'on' : 'off');
                            toggle.bootstrapToggle('disable');
                        });
                    });

                    $('.action-delete').on('click', function (e) {
                        e.preventDefault();
                        var id = $(this).parents('tr').first().data('id');

                        $('#modal-delete').modal({backdrop: true, keyboard: true})
                                .off('click', '#modal-delete-button')
                                .on('click', '#modal-delete-button', function () {
                                    var deleteForm = $('#delete-form');
                                    deleteForm.attr('action', deleteForm.attr('action').replace('__id__', id));
                                    deleteForm.trigger('submit');
                                });
                    });
                });
            </script>

            {% if 'search' == app.request.get('action') %}
                <script type="text/javascript">
            var _search_query = "{{ app.request.get('query')|default('')|e('js') }}";
            // the original query is prepended to allow matching exact phrases in addition to single words
            $('#main').find('table tbody').highlight($.merge([_search_query], _search_query.split(' ')));
                </script>
            {% endif %}
        {% endblock %}
